* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}


/* had given basic style to the navbar  */

.navbar {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* working of the amazon logo which is in box 1 of navbar  */

.nav-box1 {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}


/* box1 completed */


/* hover property for the border elements   */

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/* completed hover property  */


/* working on the box2 of navbar  */

.add-icon {
    display: flex;
    /* align-items: center; */
}

.nav-box2>p {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-icon>a {
    font-size: 1rem;
    margin-left: 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/* box 3 of  navbar  */

.nav-box3 {
    display: flex;
    height: 2.5rem;
    width: 40rem;
    background-color: transparent;
    border-radius: 6px;
    justify-content: space-evenly;
    border: 2px solid transparent;
}

.search-select {
    background-color: #f3f3f3;
    width: 3.5rem;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 1rem;
}

.search-icon {
    border: none;
    width: 3.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #0f1111;
}

.nav-box3 :hover {
    border: 2px solid orange;
}


/* box-4 of navbar */

.nav-box4 a {
    color: white;
    text-decoration: none;
}

.first_line {
    font-size: .7rem;
}

#select_list {
    background-color: #0f1111;
    color: white;
    border: none;
    font-size: .85rem;
    font-weight: bold;
}


/* box-5 */

.nav-box5 a {
    color: white;
    text-decoration: none;
}

.second_line {
    font-size: .85rem;
    font-weight: bold;
}


/* box 6 */

.nav-box6 {
    display: flex;
    font-size: .85rem;
    font-weight: bold;
}

.nav-box6 p {
    padding-top: .8rem;
}

.nav-box6 i {
    font-size: 1.7rem;
}


/* header completed */


/* panel started */

.panel {
    display: flex;
    justify-content: space-evenly;
    height: 2.5rem;
    background-color: #222f3d;
    color: white;
    align-items: center;
}

.panel a {
    color: white;
    text-decoration: none;
}

.panel2 {
    width: 70%;
    font-size: .85rem;
}

.panel2 a {
    margin-left: 5px;
    margin-right: 5px;
}

.panel3 {
    font-size: .85rem;
    font-weight: bold;
}


/* panel completed */


/* main img section */

.hero-section {
    height: 26rem;
    /* width: 100%; */
    background-image: url("/images/hero_image.jpg");
    background-size: cover;
}


/* main img section completed*/


/* shop section started */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    bottom: 4rem;
    background-color: #e2e7e6;
}

.box {
    height: 22.1rem;
    /* width: 20%; */
    width: 17.1rem;
    border: 2px solid black;
    background-color: white;
    padding: .1rem 0px .97rem;
    margin-top: 1rem;
    /* margin-left: .4rem; */
    /* margin-right: .4rem; */
}

.box img {
    height: 14.25rem;
    width: 14.25rem;
    padding-top: 1rem;
}

.box-content {
    padding: 1rem;
}

.box-content h2 {
    height: 2.7rem;
    width: 14.6rem;
}


/* shop section completed */


/* starting of foooter */

.footpanel-1 {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 15px;
    font-size: 0.85rem;
    background-color: #37475a;
    color: white;
    align-items: center;
    justify-content: center;
}


/* footpanel-1 completed */

.footpanel-2 {
    background-color: #222f3d;
    height: 300px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer-box {
    /* border:2px solid white; */
    margin-top: 15px;
    height: 90%;
    width: 22%;
}

.footer-box-content {
    margin-top: 30px;
}

.footer-box-content ul p {
    font-size: 16px;
    font-weight: 600;
}

.footer-box-content ul a {
    display: block;
    font-size: 14px;
    margin-top: 0.69rem;
    margin-bottom: 0.69rem;
}


/* foot panel 2 completed */

.footpanel-3 {
    background-color: #222f3d;
    color: white;
    height: 78px;
    width: 100%;
    border-top: 0.2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}


/* foot panel 3 completed */

.foot-panel4 {
    width: 100%;
    height: 78px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.foot4-content {
    margin-top: 15px;
    width: 80%;
}

.pages {
    text-align: center;
}

.pages a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.79rem;
}

.copyright {
    padding-top: 5px;
    font-size: 0.79rem;
    text-align: center;
}


/* panel 4 completed */


/* clearing all a tags */

ul a {
    text-decoration: none;
    color: white;
}

.foot-panel4 a {
    text-decoration: none;
    color: white;
}